html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX */
}


/* GENERAL */

body {
    margin: 0;
    padding:0;
    background: #fff !important;
    color: #333;
    font: 12px verdana, arial, helvetica, sans-serif;
}

a:link, a:visited {
    color: #666;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration:underline;
}

a.normal:hover {
    text-decoration:underline;
}

a.tiny:hover {
    text-decoration:underline;
}

h1 {
    color: #006dba;
    font-weight: normal;
    font-size: 16px;
    margin: .8em 0 .3em 0;
}

h2 {
    color: #006dba;
    font-weight: normal;
    font-size: 14px;
    margin: .8em 0 .3em 0;
}

ul {
    padding: 0px;
}

select {
    padding: 2px 2px 2px 0;
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #b2d1ff;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
    padding:0;

}

/* MESSAGES AND ERRORS */

.message {
    background: #f3f8fc url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #b2d1ff;
    color: #006dba;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

div.errors {
    background: #fff3f3;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0 5px 0;
    padding: 5px 0 5px 0;
}

div.errors ul {
    list-style: none;
    padding: 0;
}

div.errors li {
    background: url(../images/skin/exclamation.png) 8px 0% no-repeat;
    line-height: 16px;
    padding-left: 30px;
}

/* TABLES */

table {
    border: 0px;
    /* border: 1px solid #ccc; */
    width: 100%;
}

tr {
    border: 0;
}

td, th {
    font: 12px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 0px;
    text-align: left;
    vertical-align: top;
}

th {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    color: #666;
    font-size: 12px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}

th a:link, th a:visited, th a:hover {
    color: #333;
    font-size: 12px;
    text-decoration: none;
    width: 100%;
    white-space: nowrap;
    border: none;
}

th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f4f4f4;
}

.even {
    background: #fff;
}

/* LIST */

.list table {
    border-collapse: collapse;
    width:100%;
    padding: 5px 15px 10px 15px;
}

.list th, .list td {
    border-left: 1px solid #ddd;
}

.list table.noborder {
    border:0px solid #ddd
}

.list th, .list td {
    border-left: 0px solid #ddd;
    vertical-align: bottom;
}

.list td a:link, .list td a:visited, .list td a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: underline;
    width: 100%;
    white-space: nowrap;
    border: none;
}

.list td a:hover {
    color: blue;
    display: block;
    font-size: 10px;
    text-decoration: underline;
    width: 100%;
    white-space: nowrap;
    border: none;
}

/* tableToggle */

.tableToggle th a:hover, .tableToggle tr a:hover {
    text-decoration: underline;
}

/* PAGINATION */

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 3px;
}

.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}

.paginateButtons span {
    padding: 2px 3px;
}

/* DIALOG */

.dialog table {
    padding: 5px 0;
}

.prop {
    padding: 5px;
}

.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}

.prop .value {
    text-align: left;
    width: 85%;
}

/* ACTION BUTTONS */

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin-top: 0px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: #fff;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px;
}

.buttons input.search {
    margin-top:0px;
    background: transparent 5px 50% no-repeat;
    padding-left: 3px;
    padding-right:28px;
    font-size: 12px;
}

.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.cancel {
    background: transparent url(../images/skin/database_cancel.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.next {
    background: transparent url(../images/skin/next_arrow.png) 5px 50% no-repeat;
    padding-left: 28px;
}

.buttons input.previous {
    background: transparent url(../images/skin/prev_arrow.png) 5px 50% no-repeat;
    padding-left: 28px;
}

img {
    border:0;
    outline: hidden;
}

/* ExtJS customizations */

.x-panel-body {
    overflow: auto;
    border: 0px;
}

.filter {
    padding: 0px 10px 0px 10px;
}
